<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Доктор</title>
</head>
<body>
<p th:text="${doctor.getId()}">VALUE</p>
<p th:text="${doctor.getLastName()}">VALUE</p>
<p th:text="${doctor.getFirstSurname()}">VALUE</p>
<p th:text="${doctor.getMiddleName()}">VALUE</p>
<p th:text="${doctor.getSpecialization()}">VALUE</p>
<p th:text="${doctor.LicenseNumber()}">VALUE</p>
<p th:text="${doctor.getTelephone()}">VALUE</p>
<p th:text="${doctor.getEmail()}">VALUE</p>
<p th:text="${doctor.Address()}">VALUE</p>
<p th:text="${doctor.ExperienceYears()}">VALUE</p>
<p th:text="${doctor.WorkSchedule()}">VALUE</p>
<p th:text="${doctor.ConsultationFee()}">VALUE</p>
<p th:text="${doctor.PatientList()}">VALUE</p>
<p th:text="${doctor.SpecializedServices()}">VALUE</p>





</form>
</body>
</html>