<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Доктор</title>
</head>
<body>
<p th:text="${doctor.getId()}">VALUE</p>
<hr>
<p th:text="${doctor.getLastName()}">VALUE</p>
<hr>
<p th:text="${doctor.getFirstSurname()}">VALUE</p>
<hr>
<p th:text="${doctor.getMiddleName()}">VALUE</p>
<hr>
<p th:text="${doctor.getSpecialization()}">VALUE</p>
<hr>
<p th:text="${doctor.getLicenseNumber()}">VALUE</p>
<hr>
<p th:text="${doctor.getTelephone()}">VALUE</p>
<hr>
<p th:text="${doctor.getEmail()}">VALUE</p>
<hr>
<p th:text="${doctor.getAddress()}">VALUE</p>
<hr>
<p th:text="${doctor.getExperienceYears()}">VALUE</p>
<hr>
<p th:text="${doctor.getWorkSchedule()}">VALUE</p>
<hr>
<p th:text="${doctor.getConsultationFee()}">VALUE</p>
<hr>
<p th:text="${doctor.getPatientList()}">VALUE</p>
<hr>
<p th:text="${doctor.getSpecializedServices()}">VALUE</p>
<hr>





</form>
</body>
</html>